.container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.l-btn {
    margin-left: 425px;
    margin-top: 15px;display: flex;

}

.btnx {
    padding-right: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
    
.if {
    
    position: absolute;
    height: 100%;
    width: 30%;
    right: 80px;
}